<meta property="og:site_name" content="{{ shop.name }}">
<meta property="og:url" content="{{ canonical_url }}">
{% if template contains 'product' %}
  <meta property="og:type" content="product">
  <meta property="og:title" content="{{ product.title | strip_html | escape }}">
  {% for image in product.images limit:3 %}
    {% if product.media.size > 0 %}
    {%- capture og_image_tags -%}{% for media in product.media limit:3 -%}<meta property="og:image" content="http:{{ media | img_url: '1200x1200' }}">{% endfor -%}{% endcapture -%}
    {%- capture og_image_secure_url_tags -%}{% for media in product.media limit:3 -%}<meta property="og:image:secure_url" content="https:{{ media | img_url: '1200x1200' }}">{% endfor -%}{% endcapture -%}
  {% endif %}
 {{ og_image_tags }}
 {{ og_image_secure_url_tags }}
  {% endfor %}
  <meta property="og:price:amount" content="{{ product.price | money_without_currency | strip_html | escape }}">
  <meta property="og:price:currency" content="{{ cart.currency.iso_code }}">
  {% elsif template contains 'article' %}
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ article.title | strip_html | escape }}">
  {% assign img_tag = '<' | append: 'img' %}
  {% if article.image %}
    <meta property="og:image" content="http:{{ article | img_url: 'grande' }}">
    <meta property="og:image:secure_url" content="https:{{ article | img_url: 'grande' }}">
  {% elsif article.content contains img_tag %}
    {% assign src = article.content | split: 'src="' %}
    {% assign src = src[1] | split: '"' | first | remove: 'https:' | remove: 'http:' %}
  {% if src %}
    <meta property="og:image" content="http:{{ src }}">
    <meta property="og:image:secure_url" content="https:{{ src }}">
  {% endif %}
  {% endif %}
  {% else %}
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ page_title | escape }}">
    {% comment %}
    {% if settings.share_image != blank %}
      <meta property="og:image" content="http:{{ settings.share_image | img_url: '1200x1200' }}">
      <meta property="og:image:secure_url" content="https:{{ settings.share_image | img_url: '1200x1200' }}">
    {% endif %}
    {% endcomment %}
  {% endif %}
  {% if page_description %}
  	<meta property="og:description" content="{{ page_description | escape }}">
  {% endif %}

  {% if settings.twitter_link != blank %}
  	<meta name="twitter:site" content="@{{ settings.twitter_link | remove: "https://twitter.com/" }}">
  {% endif %}
  <meta name="twitter:card" content="summary">
  {% if template contains 'product' %}
    <meta name="twitter:title" content="{{ product.title }}">
    <meta name="twitter:description" content="{{ product.description | strip_html | truncatewords: 140, '' | escape }}">
    <meta name="twitter:image" content="https:{{ product.featured_media.preview_image.src | img_url: 'medium' }}">
    <meta name="twitter:image:width" content="240">
    <meta name="twitter:image:height" content="240">
    {% elsif template contains 'article' %}
      <meta name="twitter:title" content="{{ article.title }}">
      <meta name="twitter:description" content="{{ article.excerpt_or_content | strip_html | truncatewords: 140, '' | escape }}">
    {% comment %}
      Check if content contains an image to add to the card
      - Source: http://blog.viralica.com/2013/09/twitter-product-cards-on-shopify/
    {% endcomment %}
    {% if article.image %}
    	<meta property="twitter:image" content="https:{{ article | img_url: 'medium' }}">
    {% elsif article.content contains "<img loading="lazy"" %}
      {% assign src = article.content | split: 'src="' %}
      {% assign src = src[1] | split: '"' | first | replace: '//cdn', 'http://cdn' | replace: 'http:http://', 'http://' | remove: 'https:' %}
    {% if src %}
   	 <meta property="twitter:image" content="{{ src }}">
    {% endif %}
  {% endif %}
{% endif %}
