{%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}
{% assign max_img_height = 700 %}{% comment %} This is value for slider max-height {% endcomment %}
{% capture image_size %}{{ max_img_height }}x{{ max_img_height }}{% endcapture %}
<div class="swiper-container main-swiper-container {% if section.settings.image_gallery_type == 'thumbnails_gallery_vertical' %}swiper-gallery-vert-slider{% elsif section.settings.image_gallery_type == 'thumbnails_gallery_horizontal'%}swiper-gallery-horiz-slider{%endif%}"
     id="{% if section.settings.image_gallery_type == 'thumbnails_gallery_vertical' %}swiper-gallery-vert-{{ section.id }}{% elsif section.settings.image_gallery_type == 'thumbnails_gallery_horizontal'%}swiper-gallery-{{ section.id }}{%endif%}">
  <div class="swiper-wrapper">
    {% for media in product.media %}


    {% capture media_id %}FeaturedMedia-{{ section.id }}-{{ media.id }}{% endcapture %}
    {% capture media_class %}product-featured-media{% endcapture %}
    {% capture media_wrapper_id %}{{ media_id }}-wrapper{% endcapture %}

    <div class="swiper-slide {% if media.media_type == "image"%} zoom-img-wrap {% endif %}" id="{{ media.id }}">

     <div id="{{ media_wrapper_id }}"
    class="product-single__media-wrapper {% if media.media_type == "image"%} zoom-img-wrap {% endif %}"
    {% if media.media_type == 'video' or media.media_type == 'external_video' %} data-product-media-type-video data-enable-video-looping="{{ section.settings.enable_video_looping }}"{% endif %}
    {% if media.media_type == 'model' %} data-product-media-type-model{% endif %}
    {% if media.media_type == 'external_video' %} data-video-id="{{ media.external_id }}"{% endif %}
    data-product-single-media-wrapper
    data-media-id="{{ section.id }}-{{ media.id }}"
    tabindex="-1">


    {% case media.media_type %}
      {% when 'external_video' %}
          <div class="product-item-img product-single__media" style="padding-top: {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%;">
            {{ media | external_video_tag }}
          </div>
	 {% when 'video' %}

        {%- comment -%}
            Load different image sizes depending on the breakpoint for background image overlay
            {%- endcomment -%}
            {% style %}
            @media screen and (max-width: 320px) {
            .product-single__media--{{ media.id }} .plyr__poster {
            background-image: url({{ media.preview_image | img_url: '360x'}}) !important;
            }
            }

            @media screen and (min-width: 320px) and (max-width: 780px) {
            .product-single__media--{{ media.id }} .plyr__poster {
            background-image: url({{ media.preview_image | img_url: '900x'}}) !important;
            }
            }

            @media screen and (min-width: 780px) and (max-width: 1080px) {
            .product-single__media--{{ media.id }} .plyr__poster {
            background-image: url({{ media.preview_image | img_url: '1080x'}}) !important;
            }
            }

            @media screen and (min-width: 1080px) {
            .product-single__media--{{ media.id }} .plyr__poster {
            background-image: url({{ media.preview_image | img_url: '2048x'}}) !important;
            }
            }
            {% endstyle %}

        <div class="product-item-img product-single__media product-single__media--video product-single__media--{{ media.id }}" style="padding-top: {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%;">
          {{ media | video_tag: class: 'media-video', image_size: image_size }}
        </div>
      {% when 'model' %}
      <div class="product-single__media product-single__media--model" style="padding-top: 100%">
        {{ media | model_viewer_tag: image_size: image_size, reveal: 'interaction', toggleable: true, data-model-id: media.id }}
      </div>
    {% else %}
      {% assign product_img_width = media.preview_image.width %}
      {% assign product_img_height = media.preview_image.height %}
      {% assign product_img_ratio = media.preview_image.aspect_ratio %}
      {% if max_img_height < product_img_height %}
      {% assign max_img_width = max_img_height | times: product_img_ratio | append:"px"%}
      {% else %}
      {% assign max_img_width = product_img_height | times: product_img_ratio | append:"px"%}
      {% endif %}
      {%- assign img_url = media | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        <noscript>
          <img loading="lazy" class="product-item-img zoom-img" srcset="{{ media.preview_image.src | img_url: product_image_size }} 1x, {{ media.preview_image.src | img_url: product_image_size, scale: 2 }} 2x, {{ media.preview_image.src | img_url: product_image_size, scale: 3 }}, 3x," alt="{{ media.alt | escape }}" title="{{ product.title | escape }}"/>
        </noscript>
        <img loading="lazy" class="product-item-img zoom-img lazyload blur-up {% if forloop.index == 1 %} lazypreload {% endif %}"  data-srczoom="{{ media.preview_image.src | img_url: "2000x" }}"
             tabindex="-1"
             src="{{ media |img_url: '100x' }}"
             data-src="{{ img_url }}"
             data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
             data-aspectratio="{{ media.preview_image.aspect_ratio }}"
             data-sizes="auto"
             alt="{{ media.alt | escape }}" title="{{product.title}}"
             style="max-width: {{max_img_width}}"/>
        {% if section.settings.enable_zoom %}
        <a tabindex="-1" class="zoom-img-container zoom-img-position" href="javascript:void(0);">
        </a>
        {% endif %}
     {% endcase %}

    </div>
    </div>
    {% else %}
     {{ "product-5" | placeholder_svg_tag: 'product-item-img thumbnail_slider_svg' }}
    {% endfor %}
  </div><!-- <div class="swiper-wrapper"> -->
  <div class="swiper-pagination"></div>
</div><!-- <div class="swiper-container" id=""> -->
{% assign first_3d_model = product.media | where: "media_type", "model" | first %}
{%- if first_3d_model -%}
<button
        aria-label="{{ 'products.product.view_in_space_label' | t }}"
        class="product-single__view-in-space"
        data-shopify-xr
        data-shopify-model3d-id="{{ first_3d_model.id }}"
        data-shopify-title="{{ product.title }}"
        data-shopify-xr-hidden
        >
  {% render 'icon-3d-badge-full-color' %}<span class='product-single__view-in-space-text'>{{ 'products.product.view_in_space' | t }}</span>
</button>
{%- endif -%}
  {% if section.settings.image_gallery_type == 'thumbnails_gallery_vertical' %}
    <div class="swiper-vert-thumbnails-main-container swiper-thumbnails-main-container">
	<div class="swiper-container swiper-thumbnails-vert" id="swiper-gallery-thumbs-vert-{{ section.id }}">
  {% elsif section.settings.image_gallery_type == 'thumbnails_gallery_horizontal'%}
   <div class="swiper-horiz-thumbnails-main-container swiper-thumbnails-main-container">
   <div class="swiper-container swiper-thumbnails-horiz" id="swiper-gallery-thumbs-{{ section.id }}">
  {% endif %}
     <div class="swiper-wrapper">
          {% for media in product.media %}
          <div class="swiper-slide" tabindex="0">
            <img loading="lazy" class="swiper-thumb-item" src="{{ media | img_url: product_thumb_size }}" alt="{{ media.alt | escape }}" title="{{ product.title | escape }}" />
          {% if media.media_type == "video" or media.media_type == "external_video"%}
          <span class="icon-wrapper">{% render "icon-video-badge-full-color" %}</span>
          {% elsif media.media_type == "model"%}
          <span class="icon-wrapper">{% render "icon-3d-badge-full-color" %}</span>
          {% endif %}
          </div>
        {% endfor %}
      </div>
   </div>
{% comment %}
    {% if product.media.size > 4 %}
     <div class="swiper-button-prev swiper-button-prev-{{section.id}}">
       <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z"></svg>
         </div>
       <div class="swiper-button-next swiper-button-next-{{section.id}}">
         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z"></svg>
        </div>
    {% endif %}
 {% endcomment %}
     </div>
