<!doctype html>
<!--[if IE 9]> <html class="ie9" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="{{ shop.locale }}"> <!--<![endif]-->
  <head>
	<!-- Added by AVADA SEO Suite -->
	{% include 'avada-seo' %}
	<!-- /Added by AVADA SEO Suite -->
    <!-- Basic page needs ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0">

    <!-- Title and description ================================================== -->
    <title>
      {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    <!-- Helpers ================================================== -->
    {% render 'social-meta-tags' %}
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="theme-color" content="{{ settings.primary_color }}">
    {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  	{% endif %}
    {%- render '__css-root-vars' -%}
    {{ 'apps.css' | asset_url | stylesheet_tag }}
    {{ 'styles.css' | asset_url | stylesheet_tag }}

    <!-- Header hook for plugins ================================================== -->
    {{ content_for_header }}

    <!--[if lt IE 9]>
		{{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
	<![endif]-->

     <!--[if (lte IE 9) ]>{{ 'match-media.min.js' | asset_url | script_tag }}<![endif]-->

  	{% if template.directory == 'customers' %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
     {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
    {% endif %}


    <!-- Theme Global App JS ================================================== -->
    <script>
      window.themeInfo = {name: "Galleria"}
      var theme = {
        strings: {
          addToCart: {{ 'products.product.add_to_cart' | t | json }},
          soldOut: {{ 'products.product.sold_out' | t | json }},
          unavailable: {{ 'products.product.unavailable' | t | json }},
          showMore: {{ 'general.filters.show_more' | t | json }},
          showLess: {{ 'general.filters.show_less' | t | json }}
        },
        moneyFormat: {{ shop.money_format | json }}
      }
      function initScroll(sectionId) {

        document.addEventListener('shopify:section:select', fireOnSectionSelect);
        document.addEventListener('shopify:section:reorder', fireOnSectionSelect);

        window.addEventListener("load", fireOnLoad);


        function fireOnSectionSelect(e) {
          if(e.detail.sectionId === sectionId) {
            setScoll(e.detail.sectionId);
          }
        }

        function fireOnLoad() {
          setScoll(sectionId);
        }


        function setScoll(sectionId) {

          var current = document.getElementById("shopify-section-" + sectionId),
              scroller = document.getElementById("scroll-indicator-" + sectionId);


          if(current.previousElementSibling === null) {
            scroller.style.display = "block";
            scroller.onclick = function(e) {
              e.preventDefault();
              current.nextElementSibling.scrollIntoView({ behavior: 'smooth', block: 'start' });
            };
          }
        }
      }
    </script>

      <noscript>
        <style>
          .product-thumb-img-wrap img:nth-child(2),
          .swiper-slide img:nth-child(2),
          .blog_image_overlay img:nth-child(2),
          .blog-post img:nth-child(2){
            display:none !important;
          }
        </style>
      </noscript>

  <script>var scaaffCheck = false;</script>
{{ 'sca_affiliate.js' | asset_url | script_tag }}

<!-- BeginConsistentCartAddon -->  <script>  {% if customer %}  Shopify.customer_logged_in = true ;  Shopify.customer_email = "{{ customer.email }}" ;  Shopify.log_uuids = true;  {% else %}  Shopify.customer_logged_in = false ;  Shopify.customer_email = "" ;  Shopify.log_uuids = true;  {% endif %}  </script>  <!-- EndConsistentCartAddon -->

	{{ shop.metafields.loox["global_html_head"] }}

  {% render 'shogun-head' %}
</head>

  <body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
    <div class="global-wrapper clearfix" id="global-wrapper">
      {% section 'header' %}
      <div class="main-content" id="container">
        {{ content_for_layout }}
        {% section 'newsletter-bar' %}
        {% section 'footer' %}
        <div class="site-overlay"></div>
      </div>
    </div>

    {{ 'jquery.js' | asset_url | script_tag }}

    {{ 'apps.js' | asset_url | script_tag }}

    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->


    {% if template contains "index"%}
    <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    {% endif %}

  <script src="//cdn.codeblackbelt.com/js/modules/frequently-bought-together/main.min.js?shop=greenpostcbd.myshopify.com" defer></script>

  

  
	{{ shop.metafields.loox["global_html_body"] }}
{{ '//cdn.shopify.com/s/files/1/0194/1736/6592/t/1/assets/booster-page-speed-optimizer.js?23' | script_tag }}
</body>
</html>
