{% if section.settings.page_pwd_bg_img %}
	{% assign bg_img = section.settings.page_pwd_bg_img | img_url: "1600x" %}
{% else %}
	{% assign bg_img = "404.jpg" | asset_img_url: "1600x" %}
{% endif %}

{% assign overlay_opacity = section.settings.page_pwd_bg_overlay | times: 0.01 %}

<style media="screen">
	.text-uppercase {
		text-transform: uppercase;
	}
	.text-lowercase {
		text-transform: lowercase;
	}
</style>


{% capture countdown %}

{% if section.settings.page_pwd_countdown != blank %}
<div id="countdown" class="pwd__countdown"></div>
  <script type="text/javascript">
    var providedDate = '{{section.settings.page_pwd_countdown}}';
    if(Date.now() < Date.parse(providedDate)) {
      $('#countdown').countdown(providedDate, function(event) {
      var $this = $(this).html(event.strftime(''
        + '<table>'
          + '<tbody>'
            + '<tr class="-numbers">'
              + '<td>%D</td>'
              + '<td>%H</td>'
              + '<td>%M</td>'
              + '<td>%S</td>'
            + '</tr>'
            + '<tr class="-titles">'
              + '<td>Day%!D</td>'
              + '<td>Hour%!H</td>'
              + '<td>Minute%!M</td>'
              + '<td>Seconds</td>'
            + '</tr>'
          + '</tbody>'
        + '</table>'
      ));
    })
  };
  </script>
{% endif %}
{% endcapture %}

{% capture social %}
  {% if section.settings.page_pwd_social_share %}
    <ul class="pwd__footer-social">
      <li>
        <div class="fb-share-button"
             data-href="{{shop.url}}"
             data-layout="button">
        </div>
      </li>
      <li>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw&" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </li>
      <li>
        <a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonPin" data-pin-media="https:{{bg_img}}"></a>
      </li>
    </ul>
  {% endif %}
{% endcapture %}

{% capture social_profiles %}
  {% if section.settings.page_pwd_social_profiles %}
    <ul class="pwd__social-profiles">
      {% render 'social-profiles' %}
    </ul>
  {% endif %}
{% endcapture %}

{% capture offset %}
  <div class="pwd__offset" id="loginBox">
    <div class="pwd__offset-inner">
      <h4 class="pwd__offset-title">{{ 'general.password_page.password_link' | t }}</h4>
      {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <div class="pwd__form-body">
        <label for="password" class="sr-only">{{ 'general.password_page.login_form_password_label' | t }}</label>
        <div class="pwd__form-wrap">
          <input class="pwd__form-input" type="password" name="password" id="password" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" autofocus>
          <button type="submit" class="pwd__form-submit btn">{{ 'general.password_page.login_form_submit' | t }}</button>
        </div>
      </div>
      {% endform %}
      <p class="pwd__offset-admin-login">{{ 'general.password_page.admin_link_html' | t }}</p>
    </div>
  </div>
{% endcapture %}

{% capture unsubmitted %}
	{% if section.settings.page_pwd_title != blank %}
      <h1 class="pwd__content-title text-{{section.settings.title_transfrom}}">{{section.settings.page_pwd_title | escape}}</h1>
    {% endif %}
    {{ countdown }}
    {% if shop.password_message != blank %}
      <p class="pwd__content-msg">{{shop.password_message}}</p>
    {% endif %}
    <div class="pwd__form">
      {% if section.settings.page_pwd_form_title %}
        <h4 class="pwd__form-title">{{section.settings.page_pwd_form_title | escape}}</h4>
      {% endif %}
      <div class="pwd__form-body">
        <label for="email" class="sr-only">{{ 'general.password_page.signup_form_email_label' | t }}</label>
        <div class="pwd__form-wrap">
          <input class="pwd__form-input" type="text" name="contact[email]" id="email" class="login-input" placeholder="{{ 'general.password_page.signup_form_email_label' | t }}" autofocus>
          <button type="submit" class="pwd__form-submit btn">{{ 'general.password_page.login_form_submit' | t }}</button>
        </div>
      </div>
      {{ social_profiles }}
    </div>
{% endcapture %}

{% capture submitted %}
<div class="pwd__success-icon">
  {% render 'svg' with 'bell' %}
</div>
<p class="pwd__success-text">{{ 'general.password_page.signup_form_success' | t }}</p>
{{ social_profiles }}
{% endcapture %}


{{ offset }}
<div class="pwd__body" id="contentWrapper">
  <div class="pwd__body-login-overlay" id="loginBoxOverlay"></div>
  <div class="pwd__bg-wrap">
    <div class="pwd__bg-overlay" style="opacity: {{overlay_opacity}}"></div>
    <div class="pwd__bg-img" style="background-image: url({{bg_img}})"></div>
  </div>
  <a class="pwd__login" href="#" id="pwdPageLogin">{% render 'svg' with 'lock' %} <span>{{ 'general.password_page.password_link' | t }}</span></a>
  <div class="pwd__logo-wrap">
    {% if section.settings.page_pwd_logo %}
      <img loading="lazy" src="{{section.settings.page_pwd_logo | img_url: 'master'}}"  itemprop="logo" alt="{% if section.settings.page_pwd_logo.alt != blank %}{{section.settings.page_pwd_logo.alt}}{% else %}{{ shop.name }}{% endif %}" class="pwd__logo-img"/>
    {% else %}
      <h1 class="pwd__logo-title">{{ shop.name }}</h1>
    {% endif %}
  </div>
  <div class="pwd__content">
    {% form 'customer' %}
      {% if form.posted_successfully? %}
          {{submitted}}
      {% else %}
          {{ form.errors | default_errors }}
          {{unsubmitted}}
      {% endif %}
    {% endform %}
  </div>
  <div class="pwd__footer">


    <a class="pwd__footer-logo" href="//www.shopify.com" rel="nofollow" target="_blank" title="Create your own online store with Shopify">
      {% render 'svg' with 'shopify-logo' %}
    </a>
    <p class="pwd__footer-powered">{{ 'general.password_page.powered_by_shopify_html' | t }}</p>

    {{social}}
  </div>
</div>

<script type="text/javascript">
  function toggleBody(e) {
    e.preventDefault();
    $('body').toggleClass('-open-login');
  }
  $('#pwdPageLogin, #loginBoxOverlay').on('click', toggleBody);
</script>

{% schema %}
  {
    "name": "Password page",
    "settings": [
			{
				"type": "image_picker",
				"id": "page_pwd_logo",
				"label": "Logo image"
			},
			{
				"type": "text",
				"id": "page_pwd_title",
				"label": "Heading",
				"default": "Opening soon"
			},
			{
        "type":"select",
        "id":"title_transfrom",
        "label":"Heading style",
        "options":[
          {
            "value":"normal",
            "label":"Normal"
          },
          {
            "value":"uppercase",
            "label":"Uppercase"
          },
          {
            "value":"lowercase",
            "label":"Lowercase"
          }
        ],
        "default":"normal"
      },
			{
				"type": "text",
				"id": "page_pwd_form_title",
				"label": "Description",
				"default": "Sign up below and you'll be the first to know when we open!"
			},
			{
				"type": "image_picker",
				"id": "page_pwd_bg_img",
				"label": "Background image"
			},
			{
				"type": "range",
				"id": "page_pwd_bg_overlay",
				"label": "Background overlay",
				"min": 0,
				"max": 90,
				"step": 10,
				"unit": "%",
				"default": 50
			},
			{
				"type": "text",
				"id": "page_pwd_countdown",
				"label": "Countdown timer",
				"info": "Use mm\/dd\/yyyy (12\/31\/2019) format"
			},
			{
				"type": "checkbox",
				"id": "page_pwd_social_profiles",
				"label": "Enable social profiles",
				"default": true
			},
			{
				"type": "checkbox",
				"id": "page_pwd_social_share",
				"label": "Enable social sharing buttons",
				"default": false
			}
    ]
  }
{% endschema %}
